[data-reach-dialog-content] {
  width: 55vw;
  margin: 2vh auto;
  padding: 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

[data-reach-dialog-content] button {
  background: rgb(255,183,0);
  background: linear-gradient(180deg, rgba(255,183,0,1) 0%, rgba(255,221,0,1) 100%);
  color: black;
  padding: 4px 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  border: 0;
  cursor: pointer;
}

@media (max-width: 600px) {
  [data-reach-dialog-content] {
    width: 100vw;
  }
}